  <div class="header">
    <div class="row page-header bg-custom m-0 p-4">
      <div class="col-lg">
          <div class="d-flex justify-content-center">

            <div>
              <img src="../resources/logoKR.png" class="img-responsive" style="height: 4em;">
            </div>

            <div>
              <h3>KneeRose</h3>
              <h6>
                <b>The integrity!</b>
              </h6>
            </div>

          </div> 
          <br>
        <div class="row ">
          <div class="col-lg">
              <nav class="navbar navbar-expand-sm bg-bar border border-primary">
                  <div class="container-fluid">
                      <a class="navbar-brand fw-bold" href="https://www.instagram.com/knee_raws/"><u>K</u>nee<u>R</u>ose </a>

                    </div>
                  
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link {{#if blogNav}}active fw-bold{{/if}}
                        " href="/blog">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link {{#if articleNav}}active fw-bold{{/if}}" href="/article">Article</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link {{#if loginNav}}active fw-bold{{/if}}" href="/login">Login</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link {{#if registerNav}}active fw-bold{{/if}}" href="/register">Register</a>
                        </li>
                    </ul>
              </nav>
            </div>

        </div>

      </div>
    </div>
  </div>

  <br>
  <br>