    <div class="d-flex flex-column align-items-center">
        <!-- The image half -->
        <div class="col-md-6 bg-image">
            <div id = "cover-sheet" class = "container bg-custom-two align-items-center p-2">
                <h3 class="cover-heading my-color p-2"><span class ="badge badge-secondary bg-bar text-dark p-2.5 fs-4 m-2">Now 30% Off</span> <br> Your First Domain With Us</h3>
        
                <p style = "color: white">
                  <b><u>KR Hosts</u></b> has been an amazing way to voice hearts on hundreds of websites. The customer service has always been user-friendly and we always have returning customers recommend any other web hosting company."

                  <br>
                  <br>
                  <i class="small">"I actually use KR for 4 different domains. KR was referred to me by a friend and I haven't used anything else since. I use WordPress for all my websites and KR makes it easy."
                  </i><br>                  
                  
                
                </p>
        
                <a href = "/register" class = "d-block my-badge">Start Today!</a>
            </div>

        </div>
    </div>
