  <br>
  <br>

  <div class="container">
    <br/>
	<div class="row justify-content-center">
                        <div class="col-12 col-md-10 col-lg-8">
                            <form class="card card-sm">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <i class="fas fa-search h4 text-body"></i>
                                    </div>
                                    <!--end of col-->
                                    <div class="col">
                                        <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Look for a domain">
                                    </div>
                                    <!--end of col-->
                                    <div class="col-auto">
                                        <button class="btn btn-md btn-primary" type="submit">Check</button>
                                    </div>
                                    <!--end of col-->
                                </div>
                            </form>
                        </div>
                        <!--end of col-->
                    </div>
</div>

  <br>
  <br>

  <!--  -->

  <section class="section">
		<div class="container fit-con">
			<div class="row justify-content-center bg-custom-two">
				<div class="col-12 text-center">
					<h4 class="section-title bg-bar text-dark p-2 m-2"><b>Find your answer by subject</b></h4>
				</div>
				<!-- topic-item -->
				<div class="col-lg-4 col-sm-6 mb-4">
					<a href="/register" class="px-4 py-5 bg-custom shadow text-center d-block">
						<h3 class="mb-3 mt-0 text-warning">Installation</h3>
						<p class="mb-0">Have a live website in minutes, with our automated WordPress installation! Feel fully secure and free to join us now!</p>
					</a>
				</div>
				<div class="col-lg-4 col-sm-6 mb-4">
					<a href="/register" class="px-4 py-5 bg-custom shadow text-center d-block">
						<h3 class="mb-3 mt-0 text-warning">Security</h3>
						<p class="mb-0">Our web hosting platform includes brute force protection, all dynamic and designed to keep your website or blog safe!</p>
					</a>
				</div>
				<div class="col-lg-4 col-sm-6 mb-4">
					<a href="/register" class="px-4 py-5 bg-custom shadow text-center d-block">
				<h3 class="mb-3 mt-0 text-warning">Features</h3>
						<p class="mb-0">KR offers custom in-house caching solutions that work with all our systems to give your site the optimum performance.</p>
					</a>
				</div>
			</div>
		</div>
	</section>

  <!--content-->
<br>

    <br>
    <!-- banner area start -->
        <div class="container fit-con bg-custom-two p-2">
            <div class="row justify-content-around">
                <div class="col-lg-4">
                    <div class="thumb">
                      <img class="img-fluid border border-primary" src="../resources/image1.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-4 align-self-center">
                    <div class="fit-con d-flex flex-column justify-content-center">
                        <div class="d-flex flex-row justify-content-between">
                            <ul class = "fit-con d-flex flex-row justify-content-around col-md-10">
                                <li><h4 class="bg-bar p-1 fs-5 text-dark fit-con m-1">New</h4></li>
                                <li><h3 class = "fit-con my-color m-2">Better and faster backups
                                </h3></li>
                            </ul>
                        </div>
                        <p class="float-right">We’re pleased to announce that JetBackup 5 is now available at WHC! In this article, we’ll look over the improvements in this new release,...
                        </p>
                        <button class="btn btn-sm btn-primary"><a class="text-white" href="/article">Read More</a></button>
                    </div>
                </div>
            </div>
        </div>
  <br>

<!-- Page Content -->
<div class="container bg-custom-two">

  <!-- Portfolio Item Heading -->
  <h4 class="section-title bg-bar text-dark p-2 m-2"><b>KneeRose Hosts</b></h4>
</h1>

  <!-- Portfolio Item Row -->
  <div class="row">

    <div class="col-md-8">
      <img class="img-fluid border border-primary" src="../resources/image2.jpg" alt="">
    </div>

    <div class="col-md-4">
      <h3 class="my-3 my-color">Project Description</h3>
      <p> We have all been there... Sitting in front of the screen, facing a daunting task. And then... maybe just a quick email check or a quick scroll on Facebook?</p>
      <h3 class="my-3 my-color">Get SMART with your goals</h3>
      <ul>
        <li><b>Specific</b> - I will be writing 2 blogs</li>
        <li><b>Measurable</b> - It's easy for me to tell if I've accomplished it</li>
        <li><b>Achievable</b> - I know how to write, and have the tools available</li>


      </ul>
    </div>

  </div>
  <!-- /.row -->

  <!--Projects Row -->
  <h3 class="my-4 my-color">Related Information</h3>

  <div class="row d-flex flex-row justify-content-around">

    <div class="col-md-3 col-sm-6 mb-4 bg-custom p-2 m-1">
      <a href="#">
        <img class="img-fluid border border-primary" src="../resources/mini1.jpg" alt="">
      </a>
        <div class="container text-center m-2">
          <p>Working from home is no longer a luxury enjoyed by a small few but is now the gold standard. It can certainly allow a better work/life balance, yet can...</p>
          <button class="btn btn-sm btn-primary"><a class="text-white" href="/article">Read More</a></button>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 mb-4 bg-custom p-2 m-1">
      <a href="#">
        <img class="img-fluid border border-primary" src="../resources/mini2.jpg" alt="">
            <div class="container text-center m-2">
              <p>AlmaLinux 8 is now available with our Cloud and Dedicated servers. Are you a Cloud or Dedicated server administrator? Read on to learn about how this...</p>
              <button class="btn btn-sm btn-primary"><a class="text-white" href="/article">Read More</a></button>
            </div>
          </a>
    </div>

    <div class="col-md-3 col-sm-6 mb-4 bg-custom p-2 m-1">
      <a href="#">
        <img class="img-fluid border border-primary" src="../resources/mini3.jpg" alt="">
            <div class="container text-center m-2">
              <p>TLDR: Starting a business requires a solid plan, a great business name, a website that emotionally connects with your target market and a promotional strategy...</p>
              <button class="btn btn-sm btn-primary"><a class="text-white" href="/article">Read More</a></button>
            </div>
          </a>
    </div>

    <div class="col-md-3 col-sm-6 mb-4 bg-custom p-2 m-1">
      <a href="#">
        <img class="img-fluid border border-primary" src="../resources/mini4.jpg" alt="">
            <div class="container text-center m-2">
              <p>If you use any of WHC’s web solutions, you’ll likely know that cPanel is the ‘behind the scenes’ tool that lets you manage your services...</p>
              <button class="btn btn-sm btn-primary"><a class="text-white" href="/article">Read More</a></button>
            </div>
          </a>
    </div>

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->

     <!-- 

      -->

      <div><br></div>

      <div class="row d-flex flex-row justify-content-around">

        <div class="col-sm-3 d-flex flex-column justify-content-around p-2 match-height">
            <div class="card order-card bg-custom-two">
              <div class="card-block p-4">
                  <h6>Orders Received</h6>
                  <h4 class="text-right"><span class = "my-color">486</span></h4>
                  <p class="fit-con">Completed Orders <br>351</p>
              </div>
            </div>
        </div>

        <div class="col-sm-4 intro p-2">
            <div class="card order-card bg-custom-two p-2 fit-con">
              <div class="container badge bg-bar text-decoration-none text-dark p-2 fs-6 fit-con">The Dev Team</div>          
              <br>
              <div class="card-block">
                <img class="img-fluid border border-dark" src="../resources/avatar.jpg" alt="">
                <h6 class="fit-con p-2">Niroj Paudyal</h6>
                  <h5 class = "my-color">Web Developer</h5> 
                  <div class="fit-con bg-custom-two p-2">
                    <span class="fw-bold">Student</span>
                    <br>
                    <span class="text-warning">Seneca College</span>
                  </div>

                  <br>
                  <b>"Never listen to the perfect definition of<br> What a FOOL is!" </b>
              </div>
          </div>  
        </div>

        <div class="col-sm-3 d-flex flex-column justify-content-around p-2 match-height">
          <div class="card order-card bg-custom-two">
              <div class="card-block p-4">
                  <h6>Active Customers</h6>
                  <h2 class="text-right"><span class = "my-color">100</span></h2>
                  <p class="fit-con">Total Customers <br> 488</p>
              </div>
          </div>  
        </div>


      </div>

      <div><br></div>



