 <br>
  <br>

  <!--content-->


  <div class="container mt-5 bg-custom-two text-light">
    <div class="row">
        <div class="col-lg-8">
            <article>
                <header class="mb-4">
                    <div class="d-flex fit-con flex-row justify-content-between">                    
                      <h2 class="fw-bold my-color mb-1 m-2">Log4j Vulnerability</h2> <h5 class="mb-1 m-2 my-badge p-1 fs-5"><i>What you need to know?</i></h5>
                    </div>
                    <div class="text-muted fst-italic mb-2">Posted on: 10/02/2022</div>
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Hosting</a>
                </header>
               <figure class="mb-4"><img class="img-fluid border border-primary" src="../resources/image3.jpg" alt="">
                </figure>
                <section class="mb-5">
                    <p class="fs-6 mb-4">As you’ve probably heard, a critical vulnerability in a Java Library called Log4J was discovered last week, affecting millions of websites running Java applications around the world. Log4J is a common software present on most Java web applications, including on certain cPanel servers.</p>
                    <p class="fs-6 mb-4"><b class="my-color fw-bold">Cybercriminals</b> are actively exploiting a vulnerability that affects the Java logging library Log4j. This exploit was first discovered on December 9 and poses a great risk of unauthenticated remote code execution and access to servers.</p>
                    <p class="fs-6 mb-4">Log4j is used in a variety of software applications by a large number of popular online platforms, including <i>Apple, Twitter, Amazon, Tesla, and Steam </i>to name only a few. </p>
                    <h2 class="my-color mb-4 mt-5">What should I do?</h2>
                    <p class="fs-6 mb-4">If you are a Dedicated or Cloud Server client and do not provide KR with direct access to your server, please ensure that you are using the latest supported cPanel version.</p>
                    <p class="fs-6 mb-4"><b>If you have a Web Hosting, Managed WordPress Hosting, or Reseller Hosting account,</b> no action is required on your part.</p>
                    <p class="fs-6 mb-4">At this point, we have not identified any impact relating to this flaw on the KR platform. Our team has already patched our servers, and are diligently continuing to monitor the situation so we can take appropriate action as needed.</p>
                </section>
            </article>
            
        </div>
        <div class="col-lg-4">
            <div class="card bg-custom-two mb-4 m-2">
                <div class="card-header text-dark bg-bar">Search</div>
                <div class="card-body">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                        <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                    </div>
                </div>
            </div>
            <div class="card bg-custom-two mb-4 m-2">
                <div class="card-header bg-bar text-dark">Categories</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a id = "a-sides" href="#!">Web Design</a></li>
                                <li><a id = "a-sides" href="#!">HTML</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a id = "a-sides" href="#!">JavaScript</a></li>
                                <li><a id = "a-sides" href="#!">CSS</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card bg-custom-two mb-4">
                <div class="card-header bg-bar text-dark">24/7 Expert Support</div>
                <div class="card-body">Our in-house, expert team is always on hand to help answer your questions, get you started, and grow your presence online. You can contact us any time!</div>
            </div>
        </div>
    </div>
</div>

<!--  -->

<br>

<section class="mb-5 text-light container p-2">
  <div class="card bg-custom-two">
      <div class="card-body">
          <div class="bg-custom p-2">
            <form class="mb-4"><textarea class="form-control" rows="3" placeholder="Join the discussion and leave a comment!"></textarea></form>
            <button type="submit" class="btn btn-primary" id="btnLogin">Submit</button>
          </div>
          <h2 class="text-dark bg-bar m-4 p-2 fs-4">Comments</h2>
          <div class="d-flex mb-4 bg-custom-two p-2 m-1 fit-con">
              <div class="flex-shrink-0"> <img class="rounded-circle" src="../resources/icon1.png" alt=""></div>
              <div class="ms-3">
                  <div class="fw-bold my-color m-1">Ramu Sarki</div>
                  I’ll say that my experience with KR Hosts was damn good. Why? Okay, let me tell you the details now. The first thing is I found their client support system satisfactory. As a new website owner, I was not that much educated about the website maintaining and the relation between the site and hosting and common problems. 
                  In these cases, I got quick support from the client support system.                  
                  <div class="d-flex mt-4 bg-custom p-2 m-1 align-items-center">
                    <div class="flex-shrink-0"> <img class="rounded-circle" src="../resources/icon2.png" alt=""></div>
                    <div class="ms-3 bg-custom-low p-2 m-1">
                          <div class="fw-bold my-color m-1">Pome Lal</div>
                          And very good customer service support for any problem you face, theyll answer your questions and do things for you.</div>
                  </div>
                  <div class="d-flex mt-4 bg-custom p-2 m-1 align-items-center">
                    <div class="flex-shrink-0"> <img class="rounded-circle" src="../resources/icon3.png" alt=""></div>
                    <div class="ms-3 bg-custom-low p-2 m-1">
                          <div class="fw-bold my-color m-1">Rishab Thakur</div>
                          The second thing is their offers. They offer a few good packs of offerings within a low budget range. Comparing to the service they provide, I found their pricing relevant.</div>
                  </div>
              </div>
          </div>
          <div class="d-flex bg-custom-two p-2 m-1 align-items-center">
            <div class="flex-shrink-0"> <img class="rounded-circle" src="../resources/icon4.png" alt=""></div>
            <div class="ms-3 p-2 m-1">
                  <div class="fw-bold my-color m-1">Randy Kta</div>
                  Its main advantage is a very simple customer interface. The cheapest package can be tested for 14 days for free, then it is only USD 7 a month. All available packages are very well optimized for WordPress. I would like to add that they have built-in automatic WordPress installer. It was very useful for me.</div>
          </div>
      </div>
  </div>
</section>